extends ../templates/_main.pug
include ../helpers/mixins.pug

block content


  section.promo
    .promo__img-wrap
      +img-retina(`promo-bg`, `jpg`,``,`promo__img`, `1920`,`965`,360, 412, 768, 1200, 1440)("webp")

    .promo__inner
      h2.promo__title Поможем
        br
        | создать пространство
        br
        | для&nbsp;комфорта вашей жизни
      .promo__slogan.promo-slogan
        p.promo-slogan__text Стоимость консультации вернется в&nbsp;ваш&nbsp;дом мебелью

      a.promo-slogan__link.record-link.open-modal-consultation(href="#")
        span.record-link__icon
        span.record-link__text Записаться

  section.benefit.line-block
    .benefit__inner.container.container--border
      figure.benefit__img

      h2.benefit__title.title Мы будем полезны, если:
      ul.benefit__list
        each item, n in benefit_list
          li.benefit__item.benefit-item(class= n%2!==0?'benefit__item--even':'' class= `benefit__item--${n+1}`)
            figure.benefit-item__img(class= `benefit-item__img--${n+1}`)
            .benefit-item__box
              if n===5
                h3.benefit-item__title Мечтаете об&nbsp;инстаграмном
                  br
                  | доме

              else
                h3.benefit-item__title= item[0]
              p.benefit-item__text= item[1]

  section.consultation
    .consultation__inner

      .consultation__top.cons-top.line-block
        .cons-top__img-wrap
          +img-retina(`cons-bg`, `jpg`,``,`cons-top__img`, `1920`,`969`,360, 412, 1000, 1200, 1440)("lazy","webp")



        .cons-top__inner.container.container--border

          .consultation__title-block.t-block
            .t-block__top
              span.t-block__num 01
              span.t-block__text.t-block__text--top  Консультация
            p.t-block__text.t-block__text--bottom дизайнера интерьера




          .cons-top__wrapper
            .cons-top__left
              ul.cons-top__list
                each item,n in cons_top
                  li.cons-top__item.cons-top-item
                    figure.cons-top-item__img(class= `cons-top-item__img--${n+1}`)
                    p.cons-top-item__text= item
            .cons-top__right
              .cons-top__plus.plus
                .plus__top
                  p.plus__price стоимость
                    br
                    | консультации
                  p.plus__price-val 3 000 ₽

                .plus__bottom
                  figure.plus__img
                  p.plus__bonus бонус
                  p.plus__text на покупку мебели




      .consultation__slider.slider
        .slider__inner
          .slider__left.swiper-container

            .slider__wrapper.swiper-wrapper
              while n < 5
                -n++
                .slider__item.swiper-slide
                  +img-retina(`slider-bg-${n}`, `jpg`,``,`slider__img`, `961`,`641`)("lazy", "webp")


              -n=0


          .slider__right
            .slider__box
              p.slider__slogan Мы поможем создать
                br
                | интерьер, в котором
                br
                | вам захочется жить.
              .slider__control
                .slider__pagination.swiper-pagination

                .swiper-button-prev.slider__prev
                .swiper-button-next.slider__next



      .consultation__bottom.how
        .how__inner.container
          .how__box
            h3.how__title.title.title--all Как проходит работа
            ul.how__list

              li.how__item
                span.how__num 01
                p.how__text Вы отправляете фотографии комнат, пожелания, стилевые предпочтения, ритм жизни семьи

              li.how__item
                span.how__num 02
                p.how__text Мы создаем концепцию - коллаж с подобранными элементами интерьера, которые будут гармонично вписываться&ensp;
                  span.how__text-ldt-hidden в ваш
                  span.how__text-ldt-visual к вам в
                  | &ensp;дом

              li.how__item
                span.how__num 03
                p.how__text Подберем несколько вариантов мебели для преображения вашего интерьера

              li.how__item
                span.how__num 04
                p.how__text Презентуем подготовленные предложения и ответим на&nbsp;все ваши вопросы&nbsp;лично в&nbsp;офисе или онлайн в&nbsp;Zoom

              li.how__item
                span.how__num 05
                p.how__text Высылаем все согласованные материалы и видеозапись презентации, если она проходила в режиме онлайн


  include ../modules/_form.pug


  section.projects.line-block
    .projects__inner.container.container--border
      h2.projects__title.title.title--all.title--dark Выполненные
        br
        | проекты

      .projects__block.sliders-block
        .sliders-block__left.slider-info
          .slider-info__container.swiper-container
            .slider-info__wrapper.swiper-wrapper
              while n<5
                -n++
                ul.slider-info__list.swiper-slide
                  li.slider-info__item
                    span.slider-info__term Объект
                    span.slider-info__desc= `Квартира, кухня-гостиная ${25*n} м2`

                  li.slider-info__item
                    span.slider-info__term Задача
                    span.slider-info__desc Организация кухни-гостиной для&nbsp;молодой девушки

                  li.slider-info__item
                    span.slider-info__term Решение
                    span.slider-info__desc Перепланировка квартиры с учетом присоединения зоны кухни к&nbsp;гостиной. Предложено стилевое и&nbsp;цветовое решение. Осуществлен подбор материалов, даны рекомендации по&nbsp;освещению.
              -n=0


        .sliders-block__right.slider-interior
          .slider-interior__container.swiper-container
            ul.slider-interior__list.swiper-wrapper
              while n<5
                -n++
                li.slider-interior__item.swiper-slide
                  figure.slider-interior__img-wrap
                    +img-retina(`interior`, `jpg`,``,`slider-interior__img`, `914`,`647`)("lazy", "webp")
              -n=0

            .slider-interior__controls.interior-controls
              .interior-controls__counter
                span.interior-controls__current
                | /

                span.interior-controls__sum

              .interior-controls__pagination
              .interior-controls__prev
              .interior-controls__next.record-link Следующий










      a.projects__link.open-modal-consultation(href="#") Мне нужна консультация


  section.decor
    .decor__inner.container.container--decor
      .decor__left.decor-left
        .decor-left__title-block.t-block
          .t-block__top
            span.t-block__num 02
            span.t-block__text.t-block__text--top  Декорирование
          p.t-block__text.t-block__text--bottom интерьера
        .causes__wrapper
          h3.causes__mane-title.causes__mane-title--min-hidden Когда полезно
          h3.causes__mane-title.causes__mane-title--min-visually Когда подойдет

          ul.decor-left__causes.causes
            li.causes__item
              figure.causes__img-wrap
              .causes__block
                h4.causes__title
                  span.causes__ldt Сделали ремонт в новом доме
                  span.causes__dt завершили ремонт
                p.causes__text.causes__ldt Декоратор поможет оживить новый интерьер, создать уникальную атмосферу и рассказать о вкусах хозяина.
                p.causes__text.causes__dt Декоратор поможет оживить новый интерьер и&nbsp;создать уникальную атмосферу

            li.causes__item
              figure.causes__img-wrap.causes__img-wrap--even
              .causes__block
                h4.causes__title Наскучили серые стены
                p.causes__text.causes__ldt Мы знаем, как взбодрить интерьер без масштабного ремонта. Правильно расставленные акценты и&nbsp;подобранная графика преобразят атмосферу и&nbsp;поднимут настроение в будни.
                p.causes__text.causes__dt Правильно расставленные акценты преобразят интерьер


        .decor-left__scenario.scenario
          h3.scenario__title Из чего состоит декорирование
          ul.scenario__list
            each item, i in scenario
              li.scenario__item
                figure.scenario__img-wrap(class=`scenario__img-wrap--${i+1}`)
                .scenario__block
                  if i === 0
                    h4.scenario__sub-title
                      span.scenario__dt-hidden Выбор стиля
                      span.scenario__dt-visually Выбор стиля и&nbsp;оттенков в&nbsp;интерьере
                  else if i === 1
                    h4.scenario__sub-title
                      span.scenario__dt-hidden Составление схемы освещения
                      span.scenario__dt-visually Приемы освещения в&nbsp;пространстве
                  else if i === 2
                    h4.scenario__sub-title
                      span.scenario__dt-hidden Поиск текстильных решений
                      span.scenario__dt-visually Поиск текстильных решений
                  else if i === 3
                    h4.scenario__sub-title
                      span.scenario__dt-hidden Дополнительные предметы декора и&nbsp;аксессуары
                      span.scenario__dt-visually Подбор предметов декора и&nbsp;аксессуаров

                  else
                    h4.scenario__sub-title= item[0]


                  if i === 0
                    p.scenario__text

                      span.scenario__ldt Грамотное смешение стилей и оттенков – главный шаг к правильному построению пространства
                      span.scenario__dt Грамотное смешение стилей и создание общей стилистики – главный шаг к правильному построению пространства и цветовых решений.


                  else if i === 1
                    p.scenario__text
                      span.scenario__ldt Различные приемы освещения  сбалансируют размер комнаты и сфокусируют внимание на ее достоинствах
                      span.scenario__dt Использование различных приемов в освещении интерьера  сбалансирует размеры комнаты и сфокусирует внимание на ее достоинствах.

                  else if i === 2
                    p.scenario__text
                      span.scenario__ldt Шторы, ковры, покрывала, пледы и подушки дарят уют и придают интерьеру завершенный, целостный вид
                      span.scenario__dt Шторы, ковры, покрывала, пледы и подушки с интересной фактурой и подходящим цветовым решением дарят уют и придают интерьеру завершенный, целостный вид.

                  else if i === 3
                    p.scenario__text
                      span.scenario__ldt Сочетание функциональности и уюта в каждом предмете декора: картины, плакаты, скульптуры, посуда, флористика и не только
                      span.scenario__dt Сочетание функциональности, уюта и эстетики в каждом предмете декора: картины, плакаты, скульптуры, вазы, посуда, флористика и не только.



                  else
                    p.scenario__text= `${item[1]}`

      .decor__right.specification
        .specification__inner

          h3.specification__title 3 000 ₽

          .specification__box
            p.specification__what что входит
              br
              | в стоимость:

            ul.specification__list

              li.specification__item
                p.specification__text
                  span.specification__dt-hidden анализ интерьера с учетом всех возможностей его преображения
                  span.specification__dt-visually разбор вашего интерьера

              li.specification__item
                p.specification__text
                  span.specification__dt-hidden предложения по&nbsp;необходимым предметам декора из&nbsp;интернет-магазинов
                  span.specification__dt-visually предложения по&nbsp;необходимым приемам и&nbsp;предметам декора



              li.specification__cross



  section.example.line-block
    .example__inner.container.container--border
      .example__col.example__col--left.example-decor
        h2.example-decor__title.title.title--all.title--dark Примеры
          br
          | декорирования

        p.example-decor__text Декорирование - заключительный этап создания интерьера, где будет обеспечено высокое качество жизни!

        ul.example-decor__list
          each item, i in example
            li.example-decor__item

              a.example-decor__item-text(href="#" data-slider_num=`${i}`)= item
              span.example-decor__point
              span.example-decor__line

        a.example-decor__link.open-modal-consultation(href="#") Записаться

        //- .example-slider__control.example-slider__control--tablet-visually
          .example-slider__prev.example-slider__prev-tb
          .example-slider__index
            span.example-slider__index-current
            | /
            span.example-slider__index-sum
          .example-slider__next.example-slider__next-tb





      .example__col.example__col--right.example-slider.swiper-container
        ul.example-slider__list.swiper-wrapper
          while n < 9
            -n++
            li.example-slider__item.swiper-slide
              h3.example-slider__title= example[`${n-1}`]

              figure.example-slider__img-wrap
                +img-retina(`examle-bg-${n}`, `jpg`,``,`example-slider__img`, `831`,`677`)("lazy", "webp")
          -n=0



        .example-slider__control
          .example-slider__prev
          .example-slider__index
            span.example-slider__index-current
            | /
            span.example-slider__index-sum
          .example-slider__next


  include ../modules/_form.pug

  section.contacts#contacts
    .contacts__inner
      .contacts__left.contacts-data
        .contacts-data__wrapper
          h2.contacts__title Контактная
            br
            | информация
          ul.contacts-data__list-addr.addresses
            li.addresses__item
              h3 Магазин «Мир мебели»
              p Партизанская, 56
              p пн - сб  10:00 - 20:00,  вс 11:00 - 19:00

            li.addresses__item
              h3 МЦ Эталон
              p Партизанская, 63., 2 этаж
              p пн - сб  10:00 - 19:00,  вс 11:00 - 19:00


          a.contacts__phone.tel-link(href="tel:+73912265705")
            +svg('tel', 35, 35, 'tel-link')
            | 7 (3912) 265-705

          ul.contacts_soc.social
            li.social__item
              a.social__link(href="https://www.instagram.com/mirmebely38/" aria-label="" target="_blank")
                +svg('insta', 40, 40,'social' )
            li.social__item
              a.social__link(href="" aria-label="" target="_blank")
                +svg('viber', 40, 40,'social' )
            li.social__item
              a.social__link(href="" aria-label="" target="_blank")
                +svg('whatsapp', 40, 40,'social' )
            li.social__item
              a.social__link(href="" aria-label="" target="_blank")
                +svg('tg', 40, 40,'social' )


      .contacts__right
        #map.contacts__map















  section.modal.modal--consultation.modal-consultation#modal-consultation
    .modal__inner
      h2.modal__title.modal__title--consultation Записаться на&nbsp;консультацию
      p.modal__text.modal__text--consultation C вами свяжется дизайнер и&nbsp;ответит на&nbsp;все&nbsp;  вопросы

      form.modal__form.form-consultation
        .form-consultation__block(action="" method="post")
          input.form-consultation__input.form-consultation__input-tel#form-consultation-tel.mask.reset(type="text" name="form-consultation-tel" placeholder="Ваш телефон" required)
          label.form-consultation__label.form-consultation__label-tel(for="form-consultation-tel")

        button.form-consultation__btn(type="submit") ОТПРАВИТЬ

        .form-consultation__block
          input.form-consultation__input.form-consultation__input-consent#form-consultation-consent(type="checkbox" checked name="form-consultation-consent")
          label.form-consultation__label.form-consultation__label-consent(for="form-consultation-consent") Отправляя заявку, я даю согласие на&nbsp;обработку персональных данных

  section.modal.modal--success.modal-success#modal-success
    .modal__inner
      h2.modal__title.modal__title--success Заявка отправлена
      figure.modal-success__img
      p.modal__text.modal__text--success Спасибо за обращение в наш салон.
        br
        | Мы перезвоним вам в ближайшее время.
